<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 카메라 하드웨어 기능 명시 -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 인터넷 권한 (모델 다운로드 등에 필요) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- AR 필수 사항 - 일부 기기에서 작동 문제가 있으면 required를 false로 변경 -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARtravel"
        tools:targetApi="31">

        <!-- ARCore 메타데이터 - 일부 기기에서 작동 문제가 있으면 optional로 변경 -->
        <meta-data android:name="com.google.ar.core" android:value="optional" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>